.mainContainer {
  padding: 100px;
  padding-top: 50px;
  border-top: 1px solid #33423E;
  border-bottom: 1px solid #33423E;
}

.contentContainer {
  height: auto;
  width: 100%;
  margin-bottom: 70px;
}

.rowContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 15px;
}

.titleText {
  font-size: 40px;
  font-weight: bold;
  padding: 10px;
  color: white;
}

.divider {
  background-color: white;
  height: 2px;
  width: 100%;
  margin: 10px 0px;
}

.bigBox {
  flex: 1;
  margin: 20px;
  background-color: #C5C5C5;
  border-radius: 30px;
  padding: 30px;
  height: 250px;
 }

.smallBox {
 flex: 1;
 margin: 20px;
 background-color: #C5C5C5;
 border-radius: 30px;
 padding: 30px;
 height: 270px;
}

.contentText {
  font-size: 18px;
  padding: 10px;
  color: black;
}