.navStyle {
    background-color: #1A1C1D #e5e5e5;
    position:fixed;
    width:100%;
    background-color: #1A1C1D;
    padding-top: 15px;
    padding-bottom: 10px;
}
*{
  font-family: 'Ewha';
}
/* 큰 화면 */
@media screen and (min-width:1000px) {
  .navStyle {
    height: 80px;
  }
}

.navText {
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 0px 10px;
}

.active{
  background-color: #00D9A5;
}
.navText:visited{
  /* color: #1A1C1D; */
  background-color: #00D9A5;
}
.activeStyle {
  color:#00D9A5;
  background-color: #1A1C1D;
}

/* .navText:hover:not(.active){
  color:#00D9A5;
  background-color: #1A1C1D;
} */

.logoImg {
  /* width: 13.5rem; */
  width:auto;
  height: 2.5rem;
  margin-left: 10px;
}

.hover-logo {
  display:none;
  position:absolute;
  top:0;
  left:0;
  z-index:99;
}

.logoImg:hover .hover-logo{
  display:inline;
}
/* 작은 화면 */
@media screen and (max-width:500px) {
  .logoImg {
    width: 13.5rem;
    height: 3rem;
  }
}

.menuIcon {
  font-size: 25px;
  margin-top: -5px;
  color: white;
}