.navStyle {
    background-color: #1A1C1D;
}
*{
  font-family: 'Ewha';
}

/* 큰 화면 */
@media screen and (min-width:1000px) {
  .navStyle {
    height: 80px;
  }
}

.navText {
  color: white;
  font-size: 15px;
  margin: 0px 10px;
}

.logoImg {
  width: 13.5rem;
  height: 3rem;
  margin-left: 10px;
}

.hover-logo {
  display:none;
  position:absolute;
  top:0;
  left:0;
  z-index:99;
}

.logoImg:hover .hover-logo{
  display:inline;
}
/* 작은 화면 */
@media screen and (max-width:500px) {
  .logoImg {
    width: 13.5rem;
    height: 3rem;
  }
}

.menuIcon {
  font-size: 25px;
  color: white;
}